<?xml version="1.0" encoding="ISO-8859-1"?>
<error>

	<estructuras>	
		#foreach($!estructura in $!erroresEmpresa.Estructuras)
		<estructura>			
			<descripcion><![CDATA[$!estructura.Descripcion]]></descripcion>
		</estructura>
		#end
	</estructuras>
	
	<datos>
		#foreach($!dato in $!erroresEmpresa.Datos)
		<dato>			
			<campo><![CDATA[$!dato.Campo]]></campo>
			<descripcion><![CDATA[$!dato.Descripcion]]></descripcion>
		</dato>
		#end
	</datos>
		
</error>