<?xml version="1.0" encoding="ISO-8859-1"?>
<dr xmlns="urn:peru:vuce:data:standard:MCT001_DR:1" xmlns:vram="OrigenReusableAggregateBusinessInformationEntity" xmlns:qdt="urn:un:unece:uncefact:data:standard:QualifiedDataType:6" 
xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:7" 
xmlns:vct="VUCE_CommonTypes_D08B"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn:peru:vuce:data:standard:MCT001_DR:1
..\uncefact\data\standard\dj\mct001_dr.xsd">
	<Header>
		<vram:PetitionerTradeParty>
				<vct:Name><![CDATA[$!formato.Solicitante.Nombre]]></vct:Name>
				<vct:IdentificationType><![CDATA[$!formato.Solicitante.Tipodoc]]></vct:IdentificationType>
				<vct:Identification>!formato.Solicitante.Numdoc</vct:Identification>
				<vct:TradeAddress>
					<vct:StreetName><![CDATA[$!formato.Solicitante.Direccion]]></vct:StreetName>
				</vct:TradeAddress>
				<vct:AdditionalTradeAddress><vct:StreetName><![CDATA[Direccion]]></vct:StreetName></vct:AdditionalTradeAddress>
				<vct:Ubigeo>$!formato.Solicitante.Ubigeo</vct:Ubigeo>
				<vct:TelephoneUniversalCommunication>
					<vct:CompleteNumber>$!formato.Solicitante.Telefono</vct:CompleteNumber>
				</vct:TelephoneUniversalCommunication>
				<vct:FaxUniversalCommunication>
					<vct:CompleteNumber>$!formato.Solicitante.Fax</vct:CompleteNumber>
				</vct:FaxUniversalCommunication>
				<vct:EmailUniversalCommunication>
					<vct:UniformResourceIdentifier><![CDATA[$!formato.Solicitante.Email]]></vct:UniformResourceIdentifier>
				</vct:EmailUniversalCommunication>
				<vct:MobileTelephoneUniversalCommunication>
					<vct:CompleteNumber>$!formato.Solicitante.Celular</vct:CompleteNumber>
				</vct:MobileTelephoneUniversalCommunication>
				<vct:Type>1</vct:Type>		
		</vram:PetitionerTradeParty>
		
		<vram:PersonTradeParty>
				<vct:Name><![CDATA[$!formato.Usuario.Nombre]]></vct:Name>
				<vct:IdentificationType>$!formato.Usuario.Tipodoc</vct:IdentificationType>
				<vct:Identification>$!formato.Usuario.Numdoc</vct:Identification>
				<vct:TradeAddress>
					<vct:StreetName><![CDATA[$!formato.Usuario.Direccion]]></vct:StreetName>
				</vct:TradeAddress>
				<vct:Ubigeo>$!formato.Usuario.Ubigeo</vct:Ubigeo>
				<vct:TelephoneUniversalCommunication>
					<vct:CompleteNumber>$!formato.Usuario.Telefono</vct:CompleteNumber>
				</vct:TelephoneUniversalCommunication>
				<vct:FaxUniversalCommunication>
					<vct:CompleteNumber>$!formato.Usuario.Fax</vct:CompleteNumber>
				</vct:FaxUniversalCommunication>
				<vct:EmailUniversalCommunication>
					<vct:UniformResourceIdentifier><![CDATA[$!formato.Usuario.Correo]]></vct:UniformResourceIdentifier>
				</vct:EmailUniversalCommunication>
				<vct:MobileTelephoneUniversalCommunication>
					<vct:CompleteNumber>$!formato.Usuario.Celular</vct:CompleteNumber>
				</vct:MobileTelephoneUniversalCommunication>
				<vct:Type>$!formato.Usuario.TipoPersona</vct:Type>
				<vct:Title><![CDATA[Doctor]]></vct:Title>
		</vram:PersonTradeParty>	
	</Header>

	<SpecificInformation>		
		<vram:DRNumber>$!formato.Dr.Dr</vram:DRNumber>
		<vram:COONumber>213</vram:COONumber>
		<vram:Solicitude></vram:Solicitude>
		<vram:Suce>$!formato.Dr.Suce</vram:Suce>
		<vram:SuceDate>$!formato.FechaEmision</vram:SuceDate>
		<vram:DRRegisterDate>1999-01-23</vram:DRRegisterDate>
		<vram:DREmisionDate>1999-01-23</vram:DREmisionDate>
		<vram:DRValidityDate>1999-01-23</vram:DRValidityDate>
	</SpecificInformation>

	<CertificateOfOrigin>
		<vram:Agreement>
			<vram:Code>$!formato.CertificadoOrigen.AcuerdoInternacionalCodigo</vram:Code>
			<vram:TradeCountry>
				<vct:Code>$!formato.CertificadoOrigen.PaisIsoCodigo</vct:Code>
			</vram:TradeCountry>
		</vram:Agreement>
		
		<vram:CertifyingAgencyCode>14</vram:CertifyingAgencyCode>
		<vram:CertifyingAgencyHeadquartersCode>1</vram:CertifyingAgencyHeadquartersCode>
		
		<vram:APosterioriIssuedFlag>$!formato.CertificadoOrigen.emitidoPosteriori</vram:APosterioriIssuedFlag>		
		<vram:IncludedProducerFlag>$!formato.CertificadoOrigen.IncluyeProductor</vram:IncludedProducerFlag>
		<vram:ImporterTradeParty>
			<vct:Name><![CDATA[$!formato.CertificadoOrigen.ImportadorNombre]]></vct:Name>
			<vct:TradeAddress>
				<vct:StreetName><![CDATA[$!formato.CertificadoOrigen.ImportadorDireccion]]></vct:StreetName>
			</vct:TradeAddress>
			<vct:TelephoneUniversalCommunication>
				<vct:CompleteNumber>$!formato.CertificadoOrigen.ImportadorTelefono</vct:CompleteNumber>
			</vct:TelephoneUniversalCommunication>
			<vct:FaxUniversalCommunication>
				<vct:CompleteNumber>$!formato.CertificadoOrigen.ImportadorFax</vct:CompleteNumber>
			</vct:FaxUniversalCommunication>
			<vct:EmailUniversalCommunication>
				<vct:UniformResourceIdentifier><![CDATA[$!formato.CertificadoOrigen.ImportadorEmail]]></vct:UniformResourceIdentifier>
			</vct:EmailUniversalCommunication>
		</vram:ImporterTradeParty>
		<vram:ImporterTradeCountry>
			<vct:Code>BO</vct:Code>
		</vram:ImporterTradeCountry>

		<vram:TransportMeans>
			<vram:TransportNumber><![CDATA[$!formato.CertificadoOrigen.]]></vram:TransportNumber>
			<vram:DepartureDate>$!formato.CertificadoOrigen.FechaPartidaTransporte</vram:DepartureDate>
			<vram:LoadingPortType>$!formato.CertificadoOrigen.ModoTransCargaCodigo</vram:LoadingPortType>			
			<vram:LoadingPort>$!formato.CertificadoOrigen.PuertoCargaCodigo</vram:LoadingPort>
			<vram:LoadingPortTradeCountry>
				<vct:Code>$!formato.CertificadoOrigen.PaisCargaCodigo</vct:Code>
			</vram:LoadingPortTradeCountry>
			<vram:LandingPortType>$!formato.CertificadoOrigen.ModoTransDescargaCodigo</vram:LandingPortType>			
			<vram:LandingPort>$!formato.CertificadoOrigen.PuertoDescargaCodigo</vram:LandingPort>
			<vram:LandingPortTradeCountry>
				<vct:Code>$!formato.CertificadoOrigen.PaisDescargaCodigo</vct:Code>
			</vram:LandingPortTradeCountry>			
		</vram:TransportMeans>		
		
		
		
		#foreach($!factura in $!formato.COFactura)
		<vram:Invoice>
			<vram:Item>$!factura.secuencia</vram:Item>
			<vram:ThirdOpFlag>$!factura.tieneFacturaTercerPais</vram:ThirdOpFlag>
			<vram:ThirdOpTradeParty>
				<vct:Name><![CDATA[$!factura.indicadorTercerPais]]></vct:Name>
				<vct:TradeAddress>
					<vct:StreetName><![CDATA[$!factura.direccionOperadorTercerPais]]></vct:StreetName>
				</vct:TradeAddress>
			</vram:ThirdOpTradeParty>
			<vram:InvoicedThirdOpFlag>$!factura.tieneFacturaTercerPais</vram:InvoicedThirdOpFlag>
			<vram:Number><![CDATA[$!factura.Numero]]></vram:Number>
			<vram:Date>$!factura.fecha</vram:Date>
			
		</vram:Invoice>
		#end
		
		#foreach($!mercancia in $!formato.CertificadoOrigenMercancia)
		<vram:Declaration>
			<vram:GoodsCharacteristic>
				<vram:ItemVUCE>$!mercancia.</vram:ItemVUCE>
				<vram:Description><![CDATA[$!mercancia.Descripcion]]></vram:Description>
				<vram:LogisticsPackage>
					<vram:LogisticsShippingMarks>
						<vram:Marking><![CDATA[$!mercancia.MarcasNumeros]]></vram:Marking>
					</vram:LogisticsShippingMarks>
				</vram:LogisticsPackage>
				<vram:BulkFlag>$!mercancia.EsMercanciaGranel</vram:BulkFlag>
				<vram:BulkKind><![CDATA[$!mercancia.TipoBulto]]></vram:BulkKind>
				<vram:BulkQuantity>$!mercancia.CantidadBulto</vram:BulkQuantity>
				<vram:Quantity>$!mercancia.Cantidad</vram:Quantity>
				<vram:MeasureUnit>$!mercancia.UmFisicaCodigo</vram:MeasureUnit>				
				<vram:Invoice>
					<vram:Number><![CDATA[$!mercancia.NumeroFactura]]></vram:Number>
				</vram:Invoice>
				<vram:DeclarationCode><![CDATA[$!mercancia.NumeroDj]]></vram:DeclarationCode>
				<vram:InvoicedValue>$!mercancia.NumeroFactura</vram:InvoicedValue>				
				<vram:MeasureUnitByInvoice>$!mercancia.UmFisicaSegunFactura</vram:MeasureUnitByInvoice>				
				<vram:TariffCode>$!mercancia.PartidaSegunAcuerdo</vram:TariffCode>
			</vram:GoodsCharacteristic>
		</vram:Declaration>
		#end
		<vram:Comment><![CDATA[$!formato.CertificadoOrigen.Observacion]]></vram:Comment>		
	</CertificateOfOrigin>
</dr>