.divPanel, .divNav {
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.title {
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.formatoCaption {
	text-align: left;
	color: #FF9900;
	font-weight: bold;
	font-family: Verdana;
	font-size: 11px;
    padding-bottom: 10px;
}

ul {
	font-family: Verdana;
	font-size: 11px;
}

li {
	margin: 2px;
	padding: 2px;
}

select {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.body {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #264B94;
	background-color: #FFFFFF;
}

.tableClass {
	background-color: #3A6EA5;
}

.filterTable {
	background: #DEE7EF;
	border: 1px solid #436B9E;
}

.buttonsTable {
	background-color: #eee;
	padding-left: 10px;
	border-left: 1px solid #436B9E;
	border-bottom: 1px solid #436B9E;
	border-right: 1px solid #436B9E;
}

.panel {
	margin: 3px;
	background-color: #E6F0FA;
	padding: 3px;
	font-size: 10px;
	border: 1px black solid;
}

.buttonSubmitClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: white;
	background-color:#3B3B3B;
	/*background-color: #3A6EA5;*/
	background: url("/co/imagenes/fondo_boton.gif") repeat-x;
	height: 26px;
	/*padding: 2px 10px 2px 10px;*/
	padding: 2px;
	text-align: center;
	vertical-align: middle;
	border: 0px;
	cursor: hand;
	cursor: pointer;
	margin-right:5px;
	/*border-top: 1px #8C8C8C solid;
	border-bottom: 1px black solid;
	border-left: 1px #8C8C8C solid;
	border-right: 1px black solid;*/
}

.buttonSubmitDisabledClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: white;
	background-color: #C0C0C0;
	height: 26px;
	/*padding: 2px 10px 2px 10px;*/
	padding: 2px;
	text-align: center;
	vertical-align: middle;
	border: 1px #8C8C8C solid;
}

.buttonFrame {
	font-size: 12px;
	font-weight: bold;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	margin: 1em;
	text-decoration: none;
	padding: 0.3em 0.5em 0.3em 8px;
	background-color: #FFFFFF;
	border: 1px solid #339900;
}

.buttonActiveFrame {
	font-size: 12px;
	font-weight: bold;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	margin: 1em;
	text-decoration: none;
	padding: 0.3em 0.5em 0.3em 8px;
	background-color: #ffff66;
	border: 1px solid #339900;
}

.headerRowClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-color: #6699CC;
	background: url("/co/imagenes/table/header_title.gif") repeat-x;
	color: #FFFFFF;
	padding-left: 5px;
	padding-right: 5px;
	height: 20px;
	vertical-align: middle;
}

.headerRowClass_2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-color: #6699CC;
	background: url("/co/imagenes/table/header_title.gif") repeat-x;
	color: #FFFFFF;
	padding-left: 5px;
	padding-right: 5px;
	height: 18px;
	vertical-align: middle;
}

.cellClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 3px;
	padding-right: 3px;
}

.readonlyCellClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 5px;
	background: #DDDDDD;
}

.footerCellClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.rowClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border-bottom: 1px solid gray;
	background-color: #FFFFFF;
}

.cellClassSelected {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #333333;
	color: #FFFFFF;
	padding-left: 3px;
	padding-right: 3px;
}

.cellClassSelected a {
	background-color: #333333;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.cellClassSelected a:hover {
	background-color: #333333;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.footerRowClass {
	height: 20px;
	border-bottom: 1px solid gray;
	background-color: #FFD010;
}

.emptyRowClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	height: 28px;
	border-bottom: 1px solid gray;
	background-color: #FFFFFF;
}

.tooManyRowsClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #004080;
	font-style: italic;
	padding-left: 5px;
	padding-right: 5px;
	height: 28px;
	border-bottom: 1px solid gray;
	background-color: #FFFFFF;
}

.paragraph {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #004080;
	font-style: italic;
	padding-left: 5px;
	padding-right: 5px;
	height: 28px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	background-color: #FFFFFF;
}

.formHeaderCellClass {
	color: #203088;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 2px;
	font-weight: bold;
}

.formHeaderObligatoryCellClass {
	color: #203088;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 2px;
	font-weight: bold;
	text-decoration: underline;
}

.inputTextClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background: #FFFFFF;
	border-top: 1px #0B2C6F solid;
	border-bottom: 1px #0B2C6F solid;
	border-left: 1px #0B2C6F solid;
	border-right: 1px #0B2C6F solid;
}

.inputTextRadioCheckClass {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    background: #FFFFFF;
    border: 0px #0B2C6F solid;
}

.focusField{
    border:solid 1px orange;
    background:#FFEDC2;
    color:#000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.focusFieldMayusculas {
    border:solid 1px orange;
    background:#FFEDC2;
    color:#000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
}

.alertField{
	   border:solid 1px orange;
       background:#FFFF00;
       color:#000;
       font-family: Arial, Helvetica, sans-serif;
	   font-size: 11px;
}

.readonlyInputTextClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0B2C6F;
	background: #E5EFF2;
	border-top: 1px #0B2C6F solid;
	border-bottom: 1px #0B2C6F solid;
	border-left: 1px #0B2C6F solid;
	border-right: 1px #0B2C6F solid;
}

.inputTextClassMayusculas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background: #FFFFFF;
	border: 1px #0B2C6F solid;
	text-transform: uppercase;
}

.readonlyInputTextClassMayusculas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0B2C6F;
	background: #E5EFF2;
	border: 1px #0B2C6F solid;
	text-transform: uppercase;
}

.readonlyInputTextRadioCheckClass {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #0B2C6F;
    background: #E5EFF2;
    border: 0px #0B2C6F solid;
}

.textAreaClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background: #FFFFFF;
	border-top: 1px #0B2C6F solid;
	border-bottom: 1px #0B2C6F solid;
	border-left: 1px #0B2C6F solid;
	border-right: 1px #0B2C6F solid;
}

.readonlyTextAreaClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0B2C6F;
	background: #E5EFF2;
	border-top: 1px #0B2C6F solid;
	border-bottom: 1px #0B2C6F solid;
	border-left: 1px #0B2C6F solid;
	border-right: 1px #0B2C6F solid;
}

.smallInputTextClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	background: #FFFFFF;
	border-top: 1px #0B2C6F solid;
	border-bottom: 1px #0B2C6F solid;
	border-left: 1px #0B2C6F solid;
	border-right: 1px #0B2C6F solid;
	height: 20px;
}

.labelClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.boldLabelClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.pageName {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.sortableColumnClass {
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #6699CC;
	background: url("/co/imagenes/table/header_title.gif") repeat-x;
	cursor: pointer;
}

.messageClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #004080;
	font-style: italic;
}

.errormessageClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: red;
	font-style: italic;
}

.errormessageWithDetailClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	color: red;
	font-style: italic;
}

.detailedErrorMessageClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: red;
}

.headerOptionClass {
	color: #203088;
	text-decoration: none;
	font-family: Verdana, Helvetica;
	font-size: 15pt;
	font-weight: bold;
}

.headerOptionClassModalWindow {
	color: white;
	text-decoration: none;
	font-family: Verdana, Helvetica;
	font-size: 15pt;
	font-weight: bold;
}

.footerOptionClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12;
}

.dangerousValueClass {
	color: #FFFFFF;
	background-color: red;
	font-weight: bold;
	padding-left: 5px;
}

.errorValueClass {
	color: #e82a2a;
	text-decoration: underline;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.menuOnMouseOver,.menuOnMouseOut {
	font-size: 12px;
	padding: 2px 4px;
	color: black;
}

.webfx-tree-container {
	margin: 0px;
	padding: 0px;
	font: icon;
	white-space: nowrap;
}

.webfx-tree-item {
	padding: 0px;
	margin: 0px;
	font: icon;
	color: black;
	white-space: nowrap;
	h-eight: 16px;
}

.webfx-tree-item a,.webfx-tree-item a:active,.webfx-tree-item a:hover {
	margin-left: 3px;
	padding: 0px 2px 1px 2px;
}

.webfx-tree-item a {
	color: black;
	text-decoration: none;
}

.webfx-tree-item a:hover {
	color: blue;
	text-decoration: underline;
}

.webfx-tree-item a:active {
	background: highlight;
	color: highlighttext;
	text-decoration: none;
}

.webfx-tree-item img {
	vertical-align: middle;
	border: 0px;
}

.webfx-tree-icon {
	width: 16px;
	height: 16px;
}

.webfx-tree-item a.selected {
	color: yellow;
	background: selected;
}

.webfx-tree-item a.selected-inactive {
	color: windowtext;
	background: buttonface;
}

.menu {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	width: 100%;
	height: 28px;
	padding: 2 5 3 2;
	cursor: hand;
	color: #FFFFFF;
	vertical-align: middle;
}

.option {
	width: 4%;
	border-width: 1pt;
	border-style: solid;
	border-color: #008888;
	background-color: #4A96AD;
	color: #FFFFFF;
	height: 24px;
	padding: 2 5 5 5;
	cursor: hand;
}

.option2 {
	width: 4%;
	border-width: 1pt;
	border-style: solid;
	border-color: #008888;
	background-color: #4A96AD;
	color: #FFFFFF;
	height: 24px;
	padding: 2 5 5 5;
}

.options {
	padding: 1 1 1 1
}

a {
	color: #3A6EA5;
}

a:hover {
	color: #000000;
}

.pageBreak {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10;
	page-break-after: always;
}

.messageDivClass {
	position: absolute;
	height: 1;
	width: 1px;
	top: 0;
	left: 0;
}

.progressBarClass {
	width: 1px;
	height: 14px;
	color: white;
	font-size: 12px;
	overflow: hidden;
	background-color: navy;
	padding-left: 5px;
}

#mContainer {
	position: relative;
	width: 100%;
	height: 15px;
	padding: 0px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

#gradient {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 15px;
}

#mask {
	position: absolute;
	font-size: 1px;
	width: 100%;
	height: 15px;
	background-color: #FFFFFF;
	left: 0px;
	top: 0px;
}

#progressIndicator {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #C0C0C0;
	font-size: 10pt;
	text-align: center;
}

.messageAreaClass {
	font-family: robotoRegular, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	/*font-style: italic;*/
	border: 1px dashed gray;
	width: 100%;
	background-color: #EFEFEF;
	margin-top: 1em;
	margin-bottom: 1em;
	clear: left;
	text-align:left;
}

.messageAreaClass li {
	list-style-type:none;
}

.messageAreaTitleClass {
	font-size: 10pt;
	color: #FFFFFF;
	background-color: #9D0000;
	font-weight: bold;
	padding: 4px;
}

.errorMessageAreaTitleClass {
	font-size: 10pt;
	color: #FFFFFF;
	background-color: #9D0000;
	font-weight: bold;
	padding: 4px;
}

.progressBarWindowClass {
	text-align: center;
	position: absolute;
	left: 37%;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid gray;
	background-color: #EFEFEF;
	margin-top: 1em;
	clear: left;
	padding-top: 5px;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-right: 5px;
	z-index: 10;
}

/* Ventana con sombra */
.shiftContainerClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: relative;
	left: 5px; /*Number should match -left shadow depth below*/
	top: 5px; /*Number should match -top shadow depth below*/
}

.shiftcontainerClass {
	width: 300px; /* container width*/
	background-color: #d1cfd0;
}

.shiftContainerClass .innerDivClass {
	/* Add container height here if desired */
	background-color: white;
	border: 2px solid black;
	padding: 6px;
	position: relative;
	left: -5px;
	/*shadow depth*/
	top: -5px;
	/*shadow depth*/
}

/* Boton con borde */
a.bouton {
	margin: 1em;
	text-decoration: none;
	padding: 0.3em 0.5em 0.3em 25px;
	background: #ffffff url(print.gif) center left no-repeat;
	border: 1px solid #ffcc00;
	z-index: 800;
}

/* Barra de menu simple */
.slantedMenu {
	font-weight: bold;
	font-size: 90%;
}

.slantedMenu:after {
	/*Add margin between menu and rest of content in Firefox*/
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.slantedMenu ul {
	text-indent: 10px;
	padding: 3px 0;
	margin: 0;
	background-color: #e0e0e0;
	border: 1px solid #bebebe;
	text-align: left; /*set value to "center" for example to center items*/
}

.slantedMenu ul li {
	display: inline;
}

.slantedMenu ul li a {
	color: #494949;
	padding: 3px 0;
	padding-right: 25px;
	margin: 0;
	text-decoration: none;
	background: transparent url(/co/imagenes/cssImagenes/slantdivider.gif)
		top right no-repeat;
}

.slantedMenu ul li a:visited {
	color: #494949;
}

.slantedMenu ul li a:hover {
	color: black;
}

.codigoAnuladoClass {
	color: #000000;
	font-style: italic;
	padding-left: 3px;
	padding-right: 3px;
	background-color: #ddd2d2;
}

.codigoRojoClass {
	color: #FFFFFF;
	background-color: #FF6262;
	padding-left: 3px;
	padding-right: 3px;
}

.codigoAzulClass {
	color: #FFFFFF;
	background-color: #004080;
	padding-left: 3px;
	padding-right: 3px;
}

.codigoAzulClass a {
	color: #FFFFFF;
	background-color: #004080;
}

.codigoAzulClass a:hover {
	color: #3A6EA5;
	background-color: #004080;
}

.codigoAmarilloClass {
	color: #000000;
	background-color: #FAFAD2;
	padding-left: 3px;
	padding-right: 3px;
}

.codigoNaranjaClass {
	color: #000000;
	background-color: orange;
	padding-left: 3px;
	padding-right: 3px;
}

.codigoVerdeClass {
	color: #000000;
	background-color: #CDE6B5;
	padding-left: 3px;
	padding-right: 3px;
}

.codigoGrisClass {
	color: #FFFFFF;
	background-color: #C0C0C0;
	padding-left: 3px;
	padding-right: 3px;
}

.checkboxGroup {
	background-color: #FFFFFF;
	border-color: black;
	border-style: solid;
	border-width: 1.5pt;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 5px;
	display: none;
	position: absolute;
}

.loginWindowFrame {
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

.loginWindowTitleBar {
	background-color: #2B82AC;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 1.3em;
	padding: 5px;
	border-bottom: 2px solid #000000;
	border-top: 1px solid #78A3F2;
	border-left: 1px solid #78A3F2;
	border-right: 1px solid #204095;
	position: relative;
	z-index: 203;
}

.popupWindowFrame {
	background-color: #FFFFFF;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

.popupWindowTitleBar {
	background-color: #486CAE;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 1.3em;
	border-bottom: 2px solid #000000;
	border-top: 1px solid #78A3F2;
	border-left: 1px solid #78A3F2;
	border-right: 1px solid #204095;
	position: relative;
	z-index: 11;
}

.popupWindowMask {
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: .4;
	filter: alpha(opacity = 40);
	/* this hack is so it works in IE
     * I find setting the color in the css gives me more flexibility
     * than the PNG solution.
     */ /*background-color:transparent !important;*/
	background-color: #333333;
	/* this hack is for opera support
     * you can uncomment the background-image if you don't care about opera.
     * this gives you the flexibility to use any bg color that you want, instead of the png
     */
	/*background-image: url("maskBG.png") !important; // For browsers Moz, Opera, etc.*/
	background-image: none;
	background-repeat: repeat;
	display: none;
}

.checkboxGroupClass {
	background-color: #FFFFFF;
	border-color: black;
	border-style: solid;
	border-width: 1.5pt;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 5px;
	display: none;
	position: absolute;
}

.valuesListClass {
	background-color: #FFFFFF;
	border-color: black;
	border-style: solid;
	border-width: 1pt;
	display: none;
	position: absolute;
}

.bodyMain
{
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  position: absolute
}

.tablaMain
{
  background-color: #FFFFFF;
  width: 100%;
}

.tablaMainEncPagClass
{
  font-family: Arial,Helvetica,sans-serif;
  color: #23417D;
  background-color: #BCCED6;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 100%;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-width: 2px;
  border-bottom-width: 3px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-top-color: #647F8C;
  border-bottom-color: #647F8C;
  border-left-color: #647F8C;
  border-right-color: #647F8C;
}
.tablaMainPiePagClass
{
  font-family: Arial,Helvetica,sans-serif;
  color: #23417D;
  background-color: #BCCED6; /*#C9D0DD;*/
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-width: 3px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-top-color: #647F8C; /*#23417D;*/
  border-bottom-color: #91A8B3;
  border-left-color: #91A8B3;
  border-right-color: #91A8B3;
  font-size: 10px;
  font-weight: normal;
  text-align: center;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.tablaMainBody
{
  padding: 5px;
  vertical-align: top;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  /*
  border-left-style: solid;
  border-right-style: solid;
  border-left-width: 2px;
  border-right-width: 2px;
  border-left-color: #23417D;
  border-right-color: #23417D;
  */
  color: #0B2C6F;
}

.cellClassSelectedTrazabilidad {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-color: #948A54;
    color: #000000;
    padding-left: 3px;
    padding-right: 3px;
}

.requiredValueClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: 600;
	color: red;
}

.codigoRojoClass {
	color: #FFFFFF;
	background-color: #FF6262;
	padding-left: 3px;
	padding-right: 3px;
}

.textoJuramentoClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style:italic;
	font-weight: 600;
	color: blue;
}

.prioritarioClass {
	font-weight: bold;
	color: red;
}

.labelHelpClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.subTitleClass {
	font-weight: bold;
	color: blue;
}




#popup {
	position:absolute;
	height:50px;
	color:#000;
	margin-top:2px;
	margin-left:10px;
	font-size:14px;
	float:left;
  	z-index: 1001;
}

.content-popup {
    margin:0px auto;
    margin-top:50px;
    padding:10px;
    width:300px;
    min-height:80px;
    border-radius:4px;
    background-color:#FFFFFF;
    box-shadow: 0 2px 5px #666666;
  	background: #FDFFC9;
  	opacity: 0.95;
}

.close {
    position:relative;
  	text-align: right;
}