#pcont{padding:10px 0 16px 0;background-color:#fff;color:#767676;overflow:hidden} * html #pcont{height:0}
#cont{width:556px;overflow:hidden} * html #cont{height:0}
#conti{padding-right:24px}

#login{padding:16px 0 0 24px}
#login h1{font:normal 24px "Times New Roman";color:#1a1a1a}
#login p{font-size:12px}
#login p#options{padding:20px 0;background:transparent url(intrn.gif) no-repeat scroll center 20px;text-align:center}
#login p#options strong{display:block;text-align:left;color:#fff;padding:20px 0 32px 76px}
#login p#options a{display:block;width:206px;height:32px;line-height:27px;margin:0 auto;background:transparent url(buta.gif) no-repeat scroll 0 0;color:#484848}

#login p#options span{margin:10px 0 10px 100px; display:block;}
#login p#options span#expoimpo{margin:10px 0 10px 0px; display:block;}
#login p#options span#funcio{margin:10px 0 10px 0px; display:block;}
* html #login p#options span{margin:10px 0 10px -20px; display:block;}
#login p#options span td{font-size:12px;}
#login p#options span input#ruc{width:200px; padding:3px; margin-bottom:10px;}
#login p#options span input#usuario{width:200px; padding:3px;}
#login p#options span input#submit_btn_id{float:right;}