BODY {
	FONT-SIZE: 10px; MARGIN: 0px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.center {
	TEXT-ALIGN: center
}
.center TABLE {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto; TEXT-ALIGN: left
}
.window-size {
	MARGIN: 0px; WIDTH: 772px
}
.header {
	WIDTH: 772px; HEIGHT: 72px
}
.sub-header {
	BORDER-RIGHT: #7bb3d8 1px solid; BORDER-TOP: #7bb3d8 1px solid; BORDER-LEFT: #7bb3d8 1px solid; BORDER-BOTTOM: #7bb3d8 1px solid
}
.middle-body {
	BORDER-RIGHT: #7bb3d8 1px solid; BORDER-LEFT: #7bb3d8 1px solid; WIDTH: 772px; HEIGHT: 309px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.footer-middle {
	BORDER-RIGHT: #7bb3d8 1px solid; BORDER-LEFT: #7bb3d8 1px solid; BORDER-BOTTOM: #7bb3d8 1px solid
}
.footer-text {
	FONT-SIZE: 10px
}
.footer-politica {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-ALIGN: left
}
.footer-copyright {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-ALIGN: right
}
.footer-enlaces {
	PADDING-RIGHT: 3px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
.descripcion {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 0px; COLOR: navy; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.m_u {
	BACKGROUND: url(/a/imagenes/login31/panel/panel2.jpg) 0px -12px; WIDTH: 1px; HEIGHT: 6px
}
.l_m {
	BACKGROUND: url(/a/imagenes/login31/panel/panel3.jpg) 0px 0px; WIDTH: 7px; HEIGHT: 1px
}
.r_m {
	BACKGROUND: url(/a/imagenes/login31/panel/panel3.jpg) -8px 0px; WIDTH: 7px; HEIGHT: 1px
}
.co_r_d {
	BACKGROUND: url(/a/imagenes/login31/panel/panel.jpg) no-repeat -8px 0px; WIDTH: 7px; HEIGHT: 10px
}
.co_l_d {
	BACKGROUND: url(/a/imagenes/login31/panel/panel.jpg) no-repeat 0px 0px; WIDTH: 7px; HEIGHT: 10px
}
.m_d {
	BACKGROUND: url(/a/imagenes/login31/panel/panel2.jpg) 0px 0px; WIDTH: 1px; HEIGHT: 10px
}
.co_r_u {
	BACKGROUND: url(/a/imagenes/login31/panel/panel.jpg) no-repeat -24px 0px; WIDTH: 7px; HEIGHT: 6px
}
.co_l_u {
	BACKGROUND: url(/a/imagenes/login31/panel/panel.jpg) no-repeat -16px 0px; WIDTH: 7px; HEIGHT: 6px
}
.fill {
	BACKGROUND: url(/a/imagenes/login31/panel/fill.jpg); WIDTH: 400px; HEIGHT: 134px
}
.auth_input {
	BORDER-RIGHT: #ccc 1px solid; BACKGROUND-POSITION: 1px 1px; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #fff
}
.auth_titulo_button {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-ALIGN: right
}
.auth_button {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; CURSOR: pointer; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #f3f3f3
}
.field_help {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #969696; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.diggiticon {
	PADDING-LEFT: 16px; FONT-SIZE: 16px; BACKGROUND: url(/a/imagenes/menu30/bookmark/marcadores.gif) no-repeat 0px 0px; WIDTH: 16px; HEIGHT: 16px
}
.googleicon {
	PADDING-LEFT: 16px; FONT-SIZE: 16px; BACKGROUND: url(/a/imagenes/menu30/bookmark/marcadores.gif) no-repeat -68px 0px; WIDTH: 16px; HEIGHT: 16px
}
.facebookicon {
	PADDING-LEFT: 16px; FONT-SIZE: 16px; BACKGROUND: url(/a/imagenes/menu30/bookmark/marcadores.gif) no-repeat -34px 0px; WIDTH: 16px; HEIGHT: 16px
}
.favoritosicon {
	PADDING-LEFT: 16px; FONT-SIZE: 16px; BACKGROUND: url(/a/imagenes/menu30/bookmark/marcadores.gif) no-repeat -51px 0px; WIDTH: 16px; HEIGHT: 16px
}
.deliciousicon {
	PADDING-LEFT: 16px; FONT-SIZE: 16px; BACKGROUND: url(/a/imagenes/menu30/bookmark/marcadores.gif) no-repeat -17px 0px; WIDTH: 16px; HEIGHT: 16px
}
#mensajeadicional {
	FONT-SIZE: 12px
}
