body {
 margin: 0;
 padding: 0;	
 height:100%;
 background: #f2f2f2;
}	

h1{
  font-family: Arial;
  font-size: 1.3em !important;
  width: 100%;
  color: #3c3a3f;
  text-align: left !important; 
}
label, input, p, span{
  font-family: Arial;
  font-size: 0.9em;
  width: 100%;
}
p {
	margin: 0 0 24px 0;
	padding: 0;
	color: #3c3a3f;
	text-align: justify;
	line-height: 1.5em;
}
label {
  display: block;
  margin-bottom: 4px;
  color: #a1a1a1;
}
input {
  font-size: 12px;	
  color: #3c3a3f;
  height: 24px;
  margin-bottom: 24px;
  border: 0;
  border-bottom: 1px solid #3a3b36;
  text-transform: uppercase;
}
input:focus{
    outline: none;
}
input:invalid {
  box-shadow: 0 0 0 0;
  outline: none;
    -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -o-box-shadow: 0 0 0 0;
  -ms-box-shadow: 0 0 0 0;
}
img {
	width: 100%;
}
button {
  background: red;
  color: white;
  border: 0px;
  height: 48px;
  border-radius: 12px;
  width: 100%;
  outline: none !important;
  background: #a82721;
  transition: all 0.4s;
  margin-top: 24px;
  padding: 8px 16px 8px 16px;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
  background: #8c1f1f;
}


button, input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

*{
  box-sizing:border-box;
}

.g-recaptcha {
	 -webkit-transform: scale(1.17);
     -moz-transform: scale(1.17);
      -ms-transform: scale(1.17);
       -o-transform: scale(1.17);
          transform: scale(1.17);
   -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
       -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
           transform-origin: 0 0;
}

.lg_window {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;*/
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
}

.lg_form {
  width: 450px;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  background: white;
}

.lg_container {
	padding: 28px 48px 0px 48px;
}
.lg_error {
	color: #a82721 !important;
}
.lg_foot {
	padding: 28px 0 0 0;
	width1: 100%;
}
.lg_bg {
	width: 100%;
	height: 46px;
	margin: auto;
	background: url(../../imagenes/l_mincetur.png) center no-repeat;
}
.lg_foot img {
	width: auto !important;
}
.lg_copyright {
	padding-top: 12px;
	font-size: 12px !important;
	text-align: justify;
}
.lg_copyright a {
	color: #3c3a3f;
	text-decoration: underline;
}
.lg_copyright a:hover {
	color: #a82721;
	text-decoration: underline;
}
@media (max-height: 768px) {
  
  .lg_window {
     align-items: flex-start;
    -ms-flex-align: flex-start;
    -webkit-align-items: flex-start;
  
  }
 /*
  .g-recaptcha {
	 -webkit-transform: scale(1.07);
     -moz-transform: scale(1.07);
      -ms-transform: scale(1.07);
       -o-transform: scale(1.07);
          transform: scale(1.07);
   -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
       -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
           transform-origin: 0 0;
	} */
}
@media (max-width: 380px ) {
   img {
   width: 50%;
   margin: auto;
   display: flex;
  }
  .lg_window {
    justify-content: flex-start;
  }
  .lg_form {
  	width: 360px;
  }
  button {
     margin-top: 10px;
  }
  .g-recaptcha {
	 -webkit-transform: scale(0.88);
     -moz-transform: scale(0.88);
      -ms-transform: scale(0.88);
       -o-transform: scale(0.88);
          transform: scale(0.88);
   -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
       -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
           transform-origin: 0 0;
	}
}

@media (min-width: 381px ) and (max-width: 450px){
  .g-recaptcha {
	 -webkit-transform: scale(1.06);
     -moz-transform: scale(1.06);
      -ms-transform: scale(1.06);
       -o-transform: scale(1.06);
          transform: scale(1.06);
   -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
       -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
           transform-origin: 0 0;
	}
}

}