/* ALL COMMON */
@font-face { font-family: robotoRegular; src: url(fonts/Roboto-Regular.ttf); }
@font-face { font-family: robotoBold; src: url(fonts/Roboto-Bold.ttf); }
@font-face { font-family: robotoBlack; src: url(fonts/Roboto-Black.ttf); }

html { font-family: robotoRegular; }
html, body { margin: 0px; height: 100%; }
body { display: flex; flex-flow: column; }

header, section.main-body { flex: 1 0 auto; min-width: 320px; }

header {background-color: #C22821; max-height: 90px;}
footer {color: #fff; background-color: #333333; max-height: 141px;}

section.main-body { padding: 20px 0; position: relative; text-align: center; }

@media all and (max-width: 700px) {
    header {max-height: 77px;}
}

@media all and (max-width: 958px) {
    footer {max-height: none;}
}

/* HEADER */
header > .wrapper {display: flex; max-width: 1023px; margin: 10px auto; align-items: center;}
header > .wrapper a {text-decoration: none; color: #fff;}
header > .wrapper > *, header > .wrapper > nav > a {display: inline-block;}
header > .wrapper > nav > a:last-child {margin-left: 35px;}

header > .wrapper > section {margin: 0 0 0 auto; color: #fff; font-family: robotoBold;}
header > .wrapper > section > a {display: inline-block;font-size: 12px; margin-right: 80px; position: relative;}
header > .wrapper > section > a > img {position: absolute; top: -8px; right: -44px; width: 30.85px; height:28.1px; }

header > .wrapper > section > div {display: inline-block; text-align: center; vertical-align: middle;}
header > .wrapper > section > div > a:first-child {font: 12px/16px robotoBold; letter-spacing: 0.14px; display: block; margin-bottom: 5px; position: relative;}
header > .wrapper > section > div > a:last-child {border: 1px solid #fff; border-radius: 5px; padding: 5px 45px 5px 20px; font-size: 10px; font-family: robotoRegular; display: inline-block; letter-spacing: 1.74px; position: relative;}
header > .wrapper > section > div > a:last-child > span {display: block; color: #FCFCFC;}
header > .wrapper > section > div > a:last-child > span:first-of-type {font: 12px/18px robotoRegular; letter-spacing: 1.75px; }
header > .wrapper > section > div > a:last-child > span:last-of-type {font: 18px/18px robotoBlack; letter-spacing: 1.4px; white-space: nowrap;}
header > .wrapper > section > div > a:last-child > img {position: absolute; top: 12px; right: 12px; width: 21.12px; height: 21.12px;}

header > .wrapper > nav > a:first-child > img { width:113px; height:53px; }

@media all and (max-width: 1116px) {
    header > .wrapper { margin: 10px 38px;}
}

@media all and (max-width: 875px) {
    header > .wrapper > nav > a:last-child {display: none;}
}

@media all and (max-width: 700px) {
    header > .wrapper { margin: 10px 0;}
    header > .wrapper > nav {margin-left: 26.52px;}
    header > .wrapper > section { display: flex;}
    header > .wrapper > section > a > span,
    header > .wrapper > section > div > a:first-child,
    header > .wrapper > section > div > a:last-child > span {display: none;}
    header > .wrapper > section > a {margin-right: 19.11px;}
    header > .wrapper > section > a > img {width: 33.53px; height: 30.54px; position: static;}
    header > .wrapper > section > div > a:last-child {border: 0px; padding: 0; margin-right: 26.52px;}
    header > .wrapper > section > div > a:last-child > img {width: 30.44px; height: 30.44px; position: static;}
    header > .wrapper > nav > a:first-child > img { width:124.29px; height:58px; }
}

/* FOOTER */
footer { flex: 0 0 auto; min-width: 320px; }
footer > .wrapper, footer > .wrapper > small {font: 12px/20px robotoRegular; letter-spacing: 0; margin-left: 20px;}
footer > .wrapper {display: flex; max-width: 1023px; margin: 16px auto; flex-flow: row wrap; align-items: center;}
footer > .wrapper > * {display: inline-block;}
footer > .wrapper a {color: #fff; white-space: nowrap;}
footer > .wrapper > picture {margin: 0 0 0 auto;display: flex; flex-flow: row nowrap; align-items: center; }
footer > .wrapper > picture > a {margin: 0 20px 0 30px; height: 46px;}
footer > .wrapper > picture > a > img {width:235px; height:46px;}
footer > .wrapper > hr {width: 100%;}

footer > .wrapper > div { order: 1; margin: 0 20px; }
footer > .wrapper > div > a:last-child { margin-left: 20px; }
footer > .wrapper > picture { order: 2; }
footer > .wrapper > br { order: 3; }
footer > .wrapper > hr { order: 4; border: 0; border-top: 1px solid #606060; }
footer > .wrapper > small { order: 5; }
footer > .wrapper > small > a:first-child > span { position: relative; }
footer > .wrapper > small > a:last-child { font: 12px/20px robotoBold; text-decoration: none; margin-left: 30px; }
footer > .wrapper > small > a:first-child > span::after { content: ''; background: transparent url(../../imagenes/svg/icon-mesa-de-ayuda.svg) no-repeat center/14px; position: absolute; right: -16px; width: 14px; height: 14px; top: 0px;}

@media all and (max-width: 724px) {
    footer > .wrapper { justify-content: center; flex-direction: column; align-items: stretch; }
    footer > .wrapper > picture { order: 1; margin: 0 auto; justify-content: center; }
    footer > .wrapper > div { order: 2; text-align: center; line-height: 2.5; margin: 15px 0; }
    footer > .wrapper > div > a { display: block; }
    footer > .wrapper > div > a:last-child { margin-left: 0; }
    footer > .wrapper > hr { width: auto; }
    footer > .wrapper > picture > img {width:115.55px; height:53.52px;}
    footer > .wrapper > picture > a { margin: 0 0 0 30px; height: 38.95px;}
    footer > .wrapper > picture > a > img {width:198.47px; height:38.95px;}
}

@media all and (max-width: 958px) {
    footer > .wrapper > hr { margin: 6px 21px; }
    footer > .wrapper > small { margin: 0; text-align: center; margin: 0 38px; }
    footer > .wrapper > small > a:last-child {display: block;}
    footer > .wrapper > small {font: 12px/22px robotoRegular;}
    footer > .wrapper > small > a:last-child { margin-left: auto; }
}

@media all and (max-width: 375px) {
    footer > .wrapper > picture > a { margin: 0;}
    footer > .wrapper > picture {justify-content: space-around; width: 100%;}
}

@media all and (max-width: 370px) {
    footer > .wrapper > picture { flex-flow: row wrap;}
}