html,body,div,iframe,object,h1,h2,h3,h4,h5,h6,p,pre,code,img,span,a,em,ol,ul,li,form,label,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;outline:0;border:none}
body{color:#333;font-family:Arial,sans-serif}
h1,h2,h3,h4,h5,h6{font-weight:normal}
table{border-collapse:collapse;border-spacing:0}
caption,th,td{text-align:left;font-weight:normal}
table,td,th{vertical-align:middle}
a{text-decoration:none}
a:hover{text-decoration:underline}
a img{border:none}

body{background:#494949 url(bpt.gif) repeat scroll 0 0;font-size:11px;text-align:center}

/* ------------- */
#body{width:98%;margin:0 auto}
#head{width:100%;height:180px;background:transparent url(pva.gif) repeat-x scroll 0 21px}
#contp{background:#fff}
#cont{width:96%;margin:0 auto;padding:12px 0 32px 0}
#foot{padding:10px 0 24px 0}

/* ------------- */
#head div{width:100%;height:100%;background:transparent url(mia.gif) no-repeat scroll right -199px}
#head div div{position:relative;background-position:left 7px}

#head h3{position:absolute;left:20px;top:21px}
#head h3 a{display:block}
#head h3 a img{display:block;border:none}

#head p{position:absolute;right:32px;top:44px}
#head p a{padding-left:12px;text-decoration:underline;color:#ccc}

#head ul{display:block;position:absolute;left:300px;top:133px;height:31px;padding-left:2px;background:transparent url(mia.gif) no-repeat scroll left -490px}
#head ul li{display:block;list-style-type:none;float:left;padding-right:2px;background:transparent url(mia.gif) no-repeat scroll right -490px}
#head ul li a{display:block;font-weight:bold;font-size:12px;line-height:31px;padding:0 10px;color:#4a4a4a;text-decoration:none}
#head ul li a.active,#head ul li a:hover{background:transparent url(pva.gif) repeat-x scroll left -170px;color:#fff}

/* ------------- */
#pageTitle{padding:6px 0 14px 8px}
#pageTitle h1{color:#ae2922;font-family:"Arial Black";font-size:16px;overflow:hidden} * html #pageTitle{height:0}
#pageTitle strong{display:block;padding-right:5px;text-shadow:#999 0 0 4px;float:left;text-align:left;}
#pageTitle button{float:left}

button.button{display:block;width:130px;height:32px;background:transparent url(btn.gif) no-repeat scroll 0 0;border:none;cursor:pointer}
button.button span{display:none}
button.volver{background-position:0 0}
button.modificar{background-position:0 -40px}
button.paso2{background-position:0 -80px}
button.paso3{background-position:0 -120px}
button.paso4{background-position:0 -160px}
button.transmitir{background-position:0 -200px}
button.crear{background-position:0 -240px}

/* ------------- */
.block{width:100%;background:transparent url(pva.gif) repeat-x scroll left -521px}
.block .blocka{width:100%;background:transparent url(mia.gif) no-repeat scroll left -580px}
.block .blockb{padding:12px 24px;background:transparent url(mia.gif) no-repeat scroll right -720px;text-align:left}
.btabs{background-position:left -493px; margin-top:12px;}
.btabs .blocka{background-position:left -552px}
.btabs .blockb{padding-top:0;background-position:right -692px}
.btable .blockb{width:100%;padding-left:0;padding-right:0;text-align:center}

/* ------------- */
.tabs{height:auto;overflow:auto;}
.tabs li{display:block;height:32px;list-style-type:none;float:left;background:transparent url(tab.gif) repeat-x scroll 0 -50px}
.tabs li a{display:block;padding-left:32px;background:transparent url(tab.gif) no-repeat scroll left -200px;color:#fff;font-weight:bold}
.tabs li a span{display:block;font-size:11px;line-height:12px;padding:15px 32px 6px 0;background:transparent url(tab.gif) no-repeat scroll right -250px}
.tabs li.selected{background-position:0 0}
.tabs li.selected a{background-position:left -100px;color:#444}
.tabs li.selected a span{background-position:right -150px}
.btable .tabs{padding:0 12px 1px}

/* ------------- */
.tablea{margin:0 auto; width:96%; font-size:11px}
.tablea thead tr{background:transparent url(pva.gif) repeat-x scroll left -217px}
.tablea thead th{height:40px;color:#a52a25;font-size:12px;font-weight:bold}
.tablea thead th span{display:block;height:40px;padding:0 12px;color:#a52a25;font-size:12px;line-height:40px;font-weight:bold;overflow:hidden}
.tablea thead th span img{_position:absolute}
.tablea thead th span.left{background:transparent url(mia.gif) no-repeat scroll left -397px}
.tablea thead th span.right{background:transparent url(mia.gif) no-repeat scroll right -447px}
.tablea tbody tr:hover{background-color:#f9dedd}
.tablea thead th span.right input{margin-top:12px;}
.tablea tbody tr.impar{background-color:#eee}
.tablea tbody tr.impar:hover{background-color:#f7cdcc}
.tablea tbody td{padding:8px 12px;border-left:1px solid #9e9e9e}
.tablea tbody td.first{border:none}
.tablea tbody td.required{width:80px;text-align:center}
.tablea tbody td a{text-decoration:underline;color:#b13732}

/* ------------- */
.tablefa{margin:0 auto; width:96%; font-size:11px}
.tablefa_row th{background:transparent url(pva.gif) repeat-x scroll left -217px;height:40px;color:#a52a25;font-size:12px;font-weight:bold}
.tablefa_row th span{display:block;height:40px;padding:0 12px;color:#a52a25;font-size:12px;line-height:40px;font-weight:bold;overflow:hidden}
.tablefa_row th span img{_position:absolute}
.tablefa_row th span.left{background:transparent url(mia.gif) no-repeat scroll left -397px}
.tablefa_row th span.right{background:transparent url(mia.gif) no-repeat scroll right -447px}
.tablefa tbody tr:hover{background-color:#f9dedd}
.tablefa thead th span.right input{margin-top:12px;}
.tablefa tbody tr.impar{background-color:#eee}
.tablefa tbody tr.impar:hover{background-color:#f7cdcc}
.tablefa tbody td{padding:8px 12px;border-left:1px solid #9e9e9e}
.tablefa tbody td.first{border:none}
.tablefa tbody td.required{width:80px;text-align:center}
.tablefa tbody td a{text-decoration:underline;color:#b13732}

/* ------------- */
.bienvenido{padding:24px 0 16px 0;font-size:12px}
.welcome{width:484px;margin:0 auto;background:transparent url(bla.gif) repeat-y scroll -484px 0}
.welcome div{background:transparent url(bla.gif) no-repeat scroll left top}
.welcome div div{padding:18px 12px;background-position:right bottom;text-align:left}
.welcome h3{line-height:26px;padding-left:24px;font-size:11px;font-weight:bold;background:transparent url(bla.gif) no-repeat scroll -980px -5px;color:#a52923}
.welcome p{padding:6px 0 6px 24px;color:#4c4c4c;font-size:11px}
.welcome p a{color:#a52923}

/* ------------- */
.navigationBarClass{padding:0 24px 4px 0;color:#000;overflow:hidden} * html .navigationBarClass{height:0}
.navigationBarClass,.navigationBarClass input{font:11px Verdana}
.navigationBarClass input{width:40px;text-align:center;border:1px solid #999}
.navigationBarClass strong,.navigationBarClass input{font-weight:bold}
.navigationBarClass span{display:block;float:right}
.navigationBarClass span.fpnl{height:16px}

.navigationBarClass span b{display:block;width:20px;height:16px;background:transparent url(pag.gif) no-repeat scroll 0 0;float:left;cursor:pointer}
.navigationBarClass span b.first{background-position:0 0}
.navigationBarClass span b.previous{background-position:-20px 0}
.navigationBarClass span b.next{background-position:-40px 0}
.navigationBarClass span b.last{background-position:-60px 0}

.navigationBarClass span b.first_disabled{background-position:0 -20px;cursor:default}
.navigationBarClass span b.previous_disabled{background-position:-20px -20px;cursor:default}
.navigationBarClass span b.next_disabled{background-position:-40px -20px;cursor:default}
.navigationBarClass span b.last_disabled{background-position:-60px -20px;cursor:default}

/* ------------- */
#foot p{height:56px;background-color:#333}
#foot p span{display:block;height:100%}
#foot p span b{display:none}
#foot p span.mincetur{width:256px;background:transparent url(pie.gif) no-repeat scroll left top;float:left}
#foot p.copyright{height:auto;padding:6px 0;background:none;text-align:left;color:#ccc}

/* ------------- */
.subtitle{margin-bottom:6px;background:transparent url(pva.gif) repeat-x scroll left -220px;text-align:left;color:#a52a25}
.subtitle span{display:block;background:transparent url(mia.gif) no-repeat scroll left -400px}
.subtitle b{display:block;padding:0 16px;background:transparent url(mia.gif) no-repeat scroll right -450px;font-size:12px;font-weight:bold;line-height:33px}

.subtitlea{padding:4px 0 8px 16px;font-size:16px;font-weight:bold;color:#ad2a24;text-align:left}

table.datos{margin:6px 0 16px 16px}
table.datos th{padding:3px 10px 3px 8px;font-weight:bold;font-size:11px}
table.datos td{padding:3px 0;font-size:12px}
table.datos tr.impar {background-color:#eee}

table.form{margin:0 auto; width:96%} * html table.form{width:96%; margin:0px;}
table.form th{padding:3px 10px 3px 8px;width:200px;font-weight:bold;font-size:11px}
table.form td{padding:3px 0}
table.form tr.impar{background-color:#eee}

table.form2{margin:0 auto; width:96%;} * html table.form2{width:96%; margin:0px;}
table.form2 th{padding:3px 10px 3px 8px;font-weight:bold;font-size:12px;}
table.form2 td{padding:3px; font-size:12px;}
table.form2 tr.impar{background-color:#eee}

.topFieldset{padding:0 0 8px 0;text-align:left}
.topFieldset p{padding:8px 12px}
.topFieldset input{text-align:center}

.fbuttons{padding:12px 0 0 16px}
.fbuttons p{overflow:hidden} * html .fbuttons p{height:0}
.fbuttons .button{float:left}

.searchBar{font-size:12px;padding:0 0 0 24px;text-align:left;float:left;color:#525252}
.searchBar input{width:172px;height:21px;background:transparent url(src.gif) no-repeat scroll 0 0;border:none;color:#999}

.selentidad{text-align:left;height:54px;background:transparent url(entidad.gif) no-repeat scroll 0 0}
.selentidad strong{position:absolute;margin:14px 0 0 16px;font-weight:bold}
.selentidad span{display:block;padding:13px 0 0 160px}
.selentidad select{width:140px}

.adjunto h4{font-size:13px;font-weight:bold;border-bottom:1px solid #ccc;color:#a52a25}
.adjunto p{padding:3px 0;font-size:12px;overflow:hidden} * html .adjunto p{height:0}
.adjunto p em{font-style:normal;cursor:pointer;text-decoration:underline}
.adjunto p strong{display:block;width:400px;float:left}
.adjunto p.doc:hover{background-color:#ffff80}
.adjunto p.more span{text-decoration:underline;color:blue;cursor:pointer}

#contModal{background:#fff; margin:0 auto; padding:4px;text-align:left}

.psubtitle{margin-top:16px;font:bold 14px Arial;color:#ab0000;padding:4px 14px;text-transform:uppercase;border-bottom:1px solid #a6a3a3}
.tableb{width:100%} * html .tableb{width:94%}
.tableb tr.impar{background-color:#e5e5e5}
.tableb tr td{padding:5px 14px;font-size:12px;color:#5a5a5a}
.tabuttons{padding:10px 14px}
.tabuttons button{height:30px;padding:0 20px;background:#484443 url(bta.gif) repeat-x scroll 0 0;border:none}
.tabuttons button span{color:#fff}
.subtitleb{margin-top:16px;}
.subtitleb b{color:#3d3d3d}

