.shadetabs{
    padding: 3px 0;
    margin-left: 8px;
    margin-right: 4px;
    margin-top: 1px;
    margin-bottom: 0;
    font: bold 11px Verdana, Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
    display: inline;
    margin: 0;
}

.shadetabs li a {
    text-decoration: none;
    padding: 3px 7px;
    margin-right: 3px;
    border: 1px solid #23417D;
    color: #127a9c;
    background: white url("/co/imagenes/tabs/shade.gif") top left repeat-x;
}

.shadetabs li a:visited{
    color: #127a9c;
}

.shadetabs li a:hover{
    text-decoration: blink;
    color: #e46137;
}

.shadetabs li.selected{
    position: relative;
    top: 1px;
}

.shadetabs li.selected a{ /*selected main tab style */
    background-image: url("/co/imagenes/tabs/shadeactive.gif");
    border-bottom-color: white;
}

.shadetabs li.selected a:hover{ /*selected main tab style */
    text-decoration: none;
}

.tabcontentstyle{ /*style of tab content oontainer*/
    border: 1px solid #23417D;
    width: 100%;
    padding: 4px 4px 4px 4px;
}

.tabcontent{
    display: none;
    line-height: 16px;
    margin-top: 10px;
}

* html .tabcontent{
    display: none;
    line-height: 16px;
    margin-top: 40px;
}

@media print {
    .tabcontent {
        display: block!important;
    }
}

.tabcontentstyleAAA{ /*style of tab content container*/
    border: 1px solid #9ac6f5;
    width: 283px;
    margin-bottom: 1em;
    padding: 5px;
}
